.contenet1{
    background-color: blueviolet;
    text-align: center;
}

.contenet2{
    background-color: #FF2DDB;
    text-align: center;
}
.contenet3{
    background-color: #ABE6F5;
    text-align: center;
}
.contenet4{
    background-color: aqua;
}
.contenet5{
    background-color: #EB3C39;
}
.contenet6{
    background-color: #5546D4;
}